<div class="container">
    <h2>Lista de Productos</h2>
    <div class="row">
        <div class="col-md-4" *ngFor="let producto of productos">
            <div class="card">
                <img src="{{producto.imagenUrl}}" class="card-img-top" alt="{{producto.nombre}}">
                <div class="card-body">
                    <h5 class="card-title">{{producto.nombre}}</h5>
                    <p class="card-text">{{producto.descripcion}}</p>
                    <p class="card-text">{{producto.precio | currency}}</p>
                    <a [routerLink]="['/producto', producto.id]" class="btn btn-primary">Ver Detalles</a>
                </div>
            </div>
        </div>
    </div>
</div>